<html>

<head>
    <link rel="stylesheet" href="styles.css">
    <style>
        body {
            background-color: rgb(184, 215, 226);
        }
    </style>
</head>

<body>
    <font size="5px">
        <img src="home.png" Welcome to Home Page />
        <h1> To Do App</h1>
        <h2> Welcome to FIT2095 Week7!!! <font size="3px"></font>
        </h2>
        <a href="/newtask">Add new Task</a>
        <a href="/listTask">List Task</a>
        <a href="/newDeveloper">Add new developer</a>
        <a href="/listDeveloper">List Developer</a>
        <a href="/updateTask">Update Task</a>
        <a href="/deleteTask">Delete Task</a>
        <a href="/deleteAll">Delete All</a>
        <a href="/insertMany">insertMany</a>
        <a href="/listMany">listMany</a>




</body>

</html>